@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar .active{
    position: relative;
    background-color: #3e1081;
}

.navbar .active:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #ea03ea;
}


