@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color: white;
    background: #471593;
    cursor: pointer;
    content: "";
    border-left: 6px solid white;
    border-radius: 0;
}

